body {
    font-family: Arial, sans-serif;
    background-color: rgb(200, 79, 79);
    margin: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 300px;
    margin: 198px auto;
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 5px;
}

h1 {
    text-align: center;
    color: #fff;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 60%;
    padding: 15px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 30px;
    margin-left: 40px;
}

button {
    width: 41%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 5px;
    margin-left: 84px;
}

.register-btn{
    background-color: red;
}

.register-btn:hover{
    background-color: #e53935;
}

.btn{
    margin-top: 5px;
}

button:hover {
    background-color: #45a049;
}

#message {
    text-align: center;
    color: red;
}
